@import "general";

.event-card{
  @extend .box;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;

  .event-title{
    font-size: 24px;
    font-style: bold;
  }

  .event-description {
    margin-top: 10px;
  }

  .event-remove {
    float: right;
    &:hover{
      color: red;
    }
  }
}

.event-show-description {
  margin: 20px 0 20px 0;
}

.map {
  height: 300px;
  width: 100%;
}
