<h1>{{::vmInvitation.event.name}}</h1>

<div class="links">
  <span ng-if="vmInvitation.couldEdit"><a ui-sref="app.events.edit({id:vmInvitation.event.id})">Editar</a> |</span>
  <a ui-sref="app.invited.index">Regresar</a>
</div>

<div class="row main-event-info">
  <div ng-include="'views/common/header-event.html'" onload="model=vmInvitation">
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="info-card">
      <songs-list song-list="vmInvitation.songs"></songs-list>

      <hr class="sutil-divider">

      <div spotify class="spotify-container"></div>
    </div>
  </div>

  <div ng-include="'views/common/photos-event.html'" onload="model=vmInvitation">
  </div>
</div>

<div class="links">
  <div ng-if="vmInvitation.invitation.status === 'pending'">
    <a class="clickeable" ng-click="vmInvitation.acceptInvitation()">Aceptar invitación</a> |
    <a class="clickeable" ng-click="vmInvitation.rejectInvitation()">Rechazar invitación</a> |
  </div>
  <a ui-sref="app.invited.index">Regresar</a>
</div>

<div now-playing></div>
