
<h1>{{::vmInvitation.event.name}}</h1>
<div>
  <small>{{::vmInvitation.event.date | momentDate}}</small>
</div>
<div>
  <small>{{::vmInvitation.event.invited_people}} invitados</small>
</div>

<div class="event-show-description">
  {{::vmInvitation.event.descripcion}}
</div>

<div id="map" class="map"></div>

<hr class="sutil-divider">

<songs-list song-list="vmInvitation.songs"></songs-list>

<hr class="sutil-divider">

<div spotify class="spotify-container"></div>

<div now-playing></div>

<div class="links">
  <div ng-if="vmInvitation.invitation.status === 'pending'">
    <a class="clickeable" ng-click="vmInvitation.acceptInvitation()">Aceptar invitación</a> |
    <a class="clickeable" ng-click="vmInvitation.rejectInvitation()">Rechazar invitación</a> |
  </div>
  <a ui-sref="app.invited.index">Regresar</a>
</div>
