<div class="form-group" ng-class="{ 'has-error': vmEvent.form.name.$touched && vmEvent.form.name.$invalid }">
  <label class="control-label">Nombre</label>
  <input type="text" name="name" class="form-control"
      ng-model="vmEvent.event.name"
      required>

  <div class="help-block" ng-messages="vmEvent.form.name.$error" ng-if="vmEvent.form.name.$touched">
    <p ng-message="required">Campo requerido</p>
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error': vmEvent.form.descripcion.$touched && vmEvent.form.descripcion.$invalid }">
  <label class="control-label">Descripción</label>
  <textarea name="descripcion" class="form-control"
            ng-model="vmEvent.event.descripcion"
            required></textarea>

  <div class="help-block" ng-messages="vmEvent.form.descripcion.$error" ng-if="vmEvent.form.descripcion.$touched">
    <p ng-message="required">Campo requerido</p>
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error': vmEvent.form.date.$touched && vmEvent.form.date.$invalid }">
  <label class="control-label">Fecha</label>

  <div class="dropdown dropdown1-parent">
    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target=".dropdown1-parent">
      <div class="input-group">
        <input name="date" type="text" class="form-control" data-ng-model="vmEvent.event.date" required>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="vmEvent.event.date"
                        data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' }"></datetimepicker>
    </ul>
</div>

  <div class="help-block" ng-messages="vmEvent.form.date.$error" ng-if="vmEvent.form.date.$touched">
    <p ng-message="required">Campo requerido</p>
  </div>
</div>

<div class="form-group" ng-class="{ 'has-error': vmEvent.form.address.$touched && vmEvent.form.address.$invalid }">
  <label class="control-label">Dirección</label>

  <input vs-google-autocomplete
         vs-autocomplete-validator
         ng-model="vmEvent.event.address"
         vs-latitude="vmEvent.event.lat"
         vs-longitude="vmEvent.event.lng"
         placeholder=""
         name="address"
         class="form-control"
         required
         type="text">

  <div class="help-block" ng-messages="vmEvent.form.address.$error" ng-if="vmEvent.form.address.$touched">
    <p ng-message="required">Campo requerido</p>
    <p ng-message="vsAutocompleteValidator">Dirección no válida</p>
  </div>
</div>
