<h1>{{::vmEvent.event.name}}</h1>
<div>
  <small>{{::vmEvent.event.date | momentDate}}</small>
</div>
<div>
  <small>{{::vmEvent.event.invited_people}} invitados</small>
</div>

<div class="event-show-description">
  {{::vmEvent.event.descripcion}}
</div>


<div id="map" class="map">
</div>

<div class="songs-container">
  <ul>
  	<li class="search-result" ng-repeat="result in vmEvent.event.songs">
  		<img class="artwork" ng-src="{{result.album.images[2].url}}"/>
  		<div class="info">
  			<div class="title">
  				<span>{{result.name}}</span>
  			</div>
  			<div class="artist">
  				<span class="property">Artist(s): </span>
  				<span ng-repeat="artist in result.artists">
  					<a class="link" href="#" ng-click="searchArtist(artist.name)">{{artist.name}}</a>{{$last ? '' : ','}}
  				</span>
  			</div>
  			<div class="album">
  				<span class="property">Album: </span>
  				<span>{{result.album.name}}</span>
  			</div>
  			<div class="tags">
  				<span class="label label-primary">time: {{result.duration_ms | momentDuration}}</span>
  				<span class="label label-default">popularity: {{result.popularity }}</span>
  				<span class="label label-danger" ng-if="result.explicit">explicit</span>
  			</div>
  		</div>
  		<div class="play-container" ng-if="result.preview_url">
  			<button ng-class="!result.play ? 'playback btn btn-sm' : 'playback playback-active btn btn-sm'" ng-click="spotifyVm.play(result)">
  				<i ng-class="!result.play ? 'fa fa-play' : 'fa fa-stop'"></i> {{!result.play ? "play" : "stop"}}
  			</button>
  		</div>
  	</li>
  </ul>
</div>

<div spotify class="spotify-container">
</div>

<div class="links">
  <a ui-sref="app.events.invite({id:vmEvent.event.id})">Invitar amigos</a> |
  <a ui-sref="app.events.edit({id:vmEvent.event.id})">Editar</a> |
  <a ui-sref="app.events.index">Regresar</a>
</div>
