<h1>{{::vmEvent.event.name}}</h1>
<div>
  <small>{{::vmEvent.event.date | momentDate}}</small>
</div>
<div>
  <small>{{::vmEvent.event.invited_people}} invitados</small>
</div>

<div class="event-show-description">
  {{::vmEvent.event.descripcion}}
</div>


<div id="map" class="map">
</div>

<div spotify class="spotify-container">
</div>

<div now-playing>

</div>

<div class="links">
  <a ui-sref="app.events.invite({id:vmEvent.event.id})">Invitar amigos</a> |
  <a ui-sref="app.events.edit({id:vmEvent.event.id})">Editar</a> |
  <a ui-sref="app.events.index">Regresar</a>
</div>
