<h1>{{::vmEvent.event.name}}</h1>

<div class="row main-event-info">
  <div class="col-md-6 col-xs-12">
    <div class="event-information info-card">
      <div>
        <small>{{::vmEvent.event.date | momentDate}}</small>
      </div>
      <div>
        <small>{{::vmEvent.event.invited_people}} invitados</small>
      </div>

      <div class="event-show-description">
        {{::vmEvent.event.descripcion}}
      </div>

      <div id="map" class="map"></div>

      <div class="links">
        <a ui-sref="app.events.edit({id:vmEvent.event.id})">Editar</a> |
        <a ui-sref="app.events.index">Regresar</a>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="info-card">
      <songs-list song-list="vmEvent.songs"></songs-list>

      <hr class="sutil-divider">

      <div spotify class="spotify-container"></div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="lists info-card">
      <ul class="list" title="Usuarios">
        <li class="item"
            ng-repeat="item in vmEvent.allFriends track by $index"
            ng-click="vmEvent.moveToInvitees(item)">
            <span class="item-contents" ng-animate-ref="{{ item.id }}">{{ item.name }}</span>
        </li>
      </ul>
      <ul class="list" title="Invitados">
        <li class="item"
            ng-repeat="item in vmEvent.invitedFriends track by $index"
            ng-click="vmEvent.moveToAllFriends(item)">
            <span class="item-contents" ng-animate-ref="{{ item.id }}">{{ item.name }}</span>
        </li>
      </ul>
    </div>

    <div class="">
      <a href="javascript:void(0)" ng-click="vmEvent.invitee()">Invitar</a> |
      <a ui-sref="app.events.tasks({id:vmEvent.event.id})">Asignar tareas</a>
    </div>
  </div>

  <div class="col-md-12">
    <div class="info-card">
      <div class="title">
      	<h4><i class="fa fa-picture-o"></i> momentos</h4>
        <div ngf-drop="vmEvent.uploadFiles($files)" class="media-uploader"
             ngf-drag-over-class="'dragover'" ngf-multiple="true"
             ngf-pattern="'image/*,application/pdf'">
          <div class="img-wrapper"
               ng-repeat="medium in vmEvent.media track by $index">
            <img ng-src="{{ ::medium.picture_url }}" alt="">
          </div>
          <p class="placeholder">arrastra tus imágenes aquí</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div now-playing></div>
