<div class="input-group search-bar">
	<input type="text"
         ng-model="vmTasks.task.description"
         ng-keypress="vmTasks.createTask($event)"
         class="form-control"
         placeholder="ingresa una tarea"
         required/>
</div>

<div class="task-list-container">
  <ul ng-repeat="task in vmTasks.tasks track by $index">
    <li>
      {{task.description}}

      <select ng-model="task.user"
              ng-change="vmTasks.setUser(task)"
              ng-options="user.name for user in vmTasks.inviteeUsers track by user.id">
      </select>
    </li>
  </ul>
  <!-- <table class="table">
    <tr ng-repeat="task in vmTasks.tasks track by $index">
      <td>{{task.description}}</td>
      <td ng-click="vmTasks.assign(task)" class="clickeable">{{task.user.name || 'no ha sido asignado'}}</td>
    </tr>
  </table> -->
</div>
