<ul class="songs-list">
	<li class="search-result" ng-repeat="result in songsVm.songList">
		<img class="artwork" ng-src="{{result.album.images[2].url}}"/>
		<div class="info">
			<div class="title">
				<span>{{result.name}}</span>
			</div>
			<div class="artist">
				<span class="property">Artista(s): </span>
				<span ng-repeat="artist in result.artists">
					<span class="link">{{artist.name}}</span>{{$last ? '' : ','}}
				</span>
			</div>
			<div class="album">
				<span class="property">Álbum: </span>
				<span>{{result.album.name}}</span>
			</div>
			<div class="tags">
				<span class="label label-primary">duración: {{result.duration_ms | momentDuration}}</span>
				<span class="label label-default">popularidad: {{result.popularity }}</span>
				<span class="label label-danger" ng-if="result.explicit">explícita</span>
			</div>
		</div>
		<div class="play-container">
			<button ng-class="!result.play ? 'playback btn btn-sm' : 'playback playback-active btn btn-sm'"
              ng-click="songsVm.play(result)"
              ng-if="result.preview_url">
				<i ng-class="!result.play ? 'fa fa-play' : 'fa fa-stop'"></i> {{!result.play ? "play" : "stop"}}
			</button>
      <button ng-if="songsVm.shouldAdd === 'true'"
              class="btn btn-sm btn-default btn-add"
              type="button"
              ng-click="songsVm.addSong(result)"
              name="button">agregar</button>
		</div>
	</li>
</ul>
