<div class="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="app.events.index">{{::siteVm.appName}}</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="app.events.index">Eventos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle user-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="username">{{::vmMenu.user.name}}</span>
                  <img class="img-circle"
                       ng-src="{{vmMenu.user.image}}"> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ng-click="vmMenu.logout()" class="clickeable">Cerrar sesión</li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div ui-view="menu" class="container"></div>
